@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

$main-font: 'Ubuntu', sans-serif;

$main-color: #005A24;
$secondary-color: #000000;
$tertiary-color: #FFFFFF;

$regular: 400;
$bold: 700;

$main-padding: 2.5rem;
$border-radius: 10px;

$backgroung-letter-font: 35rem;
$heading-font: 1.3rem;
$main-title-font: 2.5rem;
$main-description-font: 1rem;

$title-font: 1.8rem;
$description-font: 1rem;
$nav-font: 1rem;
$link-font: 1.5rem;